/* Página de Login - Centralizada */
.login-page { 
    position: absolute; width: 1920px; height: 1080px; 
    background: linear-gradient(0deg, #FAF8FF, #FAF8FF), #FFFFFF; 
    display: flex; justify-content: center; align-items: center; 
}

/* Card Principal */
.login-card { 
    width: 1000px; height: 553px; background: #FFFFFF; 
    border: 1px solid #C4C6CF; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); 
    display: flex; border-radius: 4px;
}

/* Esquerda - Institucional */
.login-left { 
    width: 499px; height: 551px; background: #4C56AF; 
    padding: 32px; display: flex; flex-direction: column; 
    justify-content: space-between; color: white;
}

/* Direita - Formulário */
.login-right { 
    width: 501px; padding: 32px; display: flex; 
    flex-direction: column; justify-content: center; gap: 24px;
}
.login-input { 
    width: 435px; height: 43px; padding: 10px 16px; 
    border: 2px solid #C4C6CF; border-radius: 4px; margin-top: 8px;
}
.btn-login { 
    width: 435px; height: 56px; background: #312E81; 
    color: white; border: none; border-radius: 4px; font-weight: 400; cursor: pointer;
}
.error-msg-box { 
    background: rgba(186, 26, 26, 0.05); border-left: 2px solid #BA1A1A; 
    padding: 8px; color: #BA1A1A; width: 435px;
}

